! USERS_INACTIVE.CONFIG --
!   Configuration file for this site/system's USERS_INACTIVE.COM procedure.
!   Edit this file to make site-specific changes.

UI$IncludeFlags = "TRUE"      ! Forces user-account's flags (DisUser, PwdMix, etc.)
                              !   to be displayed for each reported user

UI$NNago        = "180-DAYS"  ! Examples: "30" or "30-DAYS",
                              !        or "4-WEEKS",
                              !        or "6-MONTHS",
                              !        or "2-QUARTERS",
                              !        or "3-YEARS"

