! USERS_PASSWORDS.CONFIG --
!   Configuration file for this site/system's USERS_PASSWORDS.COM procedure.
!   Edit this file to make site-specific changes.

CFG$IncludeFlags = "TRUE"      ! Forces user-account's flags (DisUser, PwdMix, etc.)
                               !   to be displayed for each reported user

CFG$PwdLifeTime  = "90-DAYS"   ! Examples: "180" or "180-DAYS",
                               !        or "26-WEEKS",
                               !        or "6-MONTHS",
                               !        or "2-QUARTERS",
                               !        or "1-YEAR"

CFG$PwdMinimum   = "8"         ! Minimum # of characters in a password

CFG$CSVoutput    = "FALSE"     ! "TRUE" for CSV file output,
                               ! or "FALSE" for no CSV file output

CFG$SubmitForDef  = "LRICKER"  ! Security Officer: Lorin Ricker

CFG$DaysAgo       = "30"       ! Report interval: 1 = Daily, 7 = Weekly
                               !                  30 (>=28) = Monthly
CFG$HourRun       = "05:10"    ! 24-clock time for next batch execution

! One (or more) special function com-files can be specified here;
!   if the config-variable is non-"", @-call its F$ELEMENT-0,
!     and use its F$ELEMENT-1 as the @-call's parameter string(s),
!     and use its F$ELEMENT-2 as the subject-line F$FAO string
!     for the emailed report...
!   if it's "", don't invoke it...
CFG$SpecFunc1    = "CHECK_SYSGEN_LGI|""3""|F$FAO(""%!AS-I-SYSGEN_LGI, system !AS, review SYSGEN login break-in threshold"",Fac,ThisNode)"
!«»CFG$SpecFunc2    = "«»|""«»"" ""«»""|F$FAO(""«»"",«»...)"

