! USERS_PASSWORDS.CONFIG --
!   Configuration file for this site/system's USERS_PASSWORDS.COM procedure.
!   Edit this file to make site-specific changes.

CFG$IncludeFlags = "TRUE"     ! Forces user-account's flags (DisUser, PwdMix, etc.)
                              !   to be displayed for each reported user

CFG$PwdLifeTime  = "90-DAYS"  ! Examples: "180" or "180-DAYS",
                              !        or "26-WEEKS",
                              !        or "6-MONTHS",
                              !        or "2-QUARTERS",
                              !        or "1-YEAR"

CFG$PwdMinimum   = "8"        ! Minimum # of characters in a password

CFG$CSVoutput    = "FALSE"    ! "TRUE" for CSV file output,
                              ! or "FALSE" for no CSV file output

! One (or more) special function com-files can be specified here;
!   if the config-variable is non-"", call it with @ ...
!   if it's "", don't invoke it...
!«»CFG$SpecFunc1    = ""

