! USERS_INACTIVE.CONFIG --
!   Configuration file for this site/system's USERS_INACTIVE.COM procedure.
!   Edit this file to make site-specific changes.

CFG$IncludeFlags = "TRUE"     ! Forces user-account's flags (DisUser, PwdMix, etc.)
                              !   to be displayed for each reported user

CFG$NNago        = "180-DAYS"  ! Examples: "30" or "30-DAYS",
                              !        or "4-WEEKS",
                              !        or "6-MONTHS",
                              !        or "2-QUARTERS",
                              !        or "3-YEARS"

CFG$CSVoutput    = "FALSE"    ! "TRUE" for CSV file output,
                              ! or "FALSE" for no CSV file output

! One (or more) special function com-files can be specified here;
!   if the config-variable is non-"", call it with @ ...
!   if it's "", don't invoke it...
CFG$SpecFunc1    = "SECMAS_XREF"

