! VMS$AUDIT_LRICKER.CONFIG -- Lorin's own configuration for VMS$AUDIT.COM

! Derived from VMS$AUDIT_TEMPLATE.CONFIG, configuration file for VMS$AUDIT.COM

! VA$AuditReport (report name) is correctly calculated/defaulted by VMS$AUDIT.COM

VA$User         = "Lorin Ricker"        ! Full name for report generator
VA$Disposition  = "FTP"                 ! one of: FTP, Type or Edit

! Remote (PARSEC) FTP targets:
VA$FTPurl       = "class8.parsec.com"   ! "class8.parsec.com" or "ftp.parsec.com"
VA$FTPuser      = "lricker"             ! "lricker" <-- the Remote/FTP-site username

! EOF - end of config file
