! VMS$AUDIT_LRICKER.CONFIG -- Lorin's own configuration for VMS$AUDIT.COM,
! derived from VMS$AUDIT_TEMPLATE.CONFIG

VA$FullRpt      = "FALSE"

VA$User         = "Lorin Ricker"        ! Full name for report generator
VA$SysmanNodes  = "CLASS3"              ! Remote node(s) for CLUSTER quick reports
VA$Disposition  = "FTP"                 ! one of: FTP, Type or Edit

! For FILE$FIND.COM VERSIONS: a comma-separated list of nodenames
!   (one per VMScluster) that are permitted to run this script...
VA$FFV_Permitted = "CLASS8,VMSPR1"
!   and a comma-separated list of disks to search...
VA$FFV_Disks     = "SYS$SYSDEVICE:,STAFF_DISK:"
!   and the minimum version# to find...
VA$FFV_Version   = ";32700"
!   and the batch queue on which to execute FILE$FIND.COM...
VA$FFV_BQue      = "class8_batch"

! Remote (PARSEC) FTP targets:
VA$FTPurl       = "class8.parsec.com"   ! "class8.parsec.com" or "ftp.parsec.com"
VA$FTPuser      = "lricker"             ! "lricker" <-- the Remote/FTP-site username

! EOF - end of config file
